{# 'admin_home.twig' ~ Page displaying the Admin panel #}

{% extends "includes/layout.twig" %}

{% block head %}
    <title>SilexBlog - Home [Admin]</title>
{% endblock %}

{% block body %}

    <div class='usermenu'>
        <!-- Management - Title -->
        <h1 class='title centered'>♠ {{ user.getUsername() }} ♠ - Admin Panel</h1><br />
        
        <!-- Management - Links -->
        <a href='{{app.request.basepath}}/' class='btn btn-primary btn-block' role='button'>Website Home</a>
        <a href='{{app.request.basepath}}/admin/posts' class='btn btn-primary btn-block' role='button'>Manage Posts</a>
        <a href='{{app.request.basepath}}/admin/newpost' class='btn btn-primary btn-block' role='button'>Create a new Post</a>
        <a href='{{app.request.basepath}}/admin/comments' class='btn btn-warning btn-block' role='button'>Manage Comments</a>
        <a href='#NOT_YET_IMPLEMENTED' class='btn btn-warning btn-block' role='button'>Manage Users</a>
        <a href='#NOT_YET_IMPLEMENTED' class='btn btn-warning btn-block' role='button'>Another Button</a>
        <a href='{{app.request.basepath}}/auth/logout' class='btn btn-danger btn-block' role='button'>Log out</a>
    </div>

{% endblock %}