{# 'page_singlepost.twig' ~ Page displaying one single post #}

{% extends "layout.twig" %}

{% block head %}

    {% if post.getTitle() == '' %}
        <title>SilexBlog - New Post</title>
    {% else %}
        <title>SilexBlog - {{ post.getTitle()|capitalize }} [Edit]</title>
    {% endif %}

{% endblock %}

{% block body %}

    {% block post %}
    <div class="post edit">
        
        <form action="{{app.request.basepath}}/admin/newpost" method="POST">

            {# Post ID, null or taken from the Post #}
            {% if post.getID() is defined %}
                <input type="hidden" name="id" value="{{post.getID()}}">
            {% else %}
                <input type="hidden" name="id" value="null">
            {% endif %}
            
            {# Div allowing to edit title of the post #}
            <div class="form-group">
                <label for="inputTitle">Title of the post</label>
                <input name="title" type="text" class="form-control" id="inputTitle" value="{{ post.getTitle()|capitalize }}">
            </div>
            
            {# Div allowing to edit the post's content #}
            <div class="form-group">
                <label for="inputContent">Content of the post</label>
                <textarea name="content" class="form-control" id="inputContent" rows="5">{{ post.getContent() }}</textarea>
            </div>
            
            {# Buttons displayed at the bottom of the form #}
            <div class="bottom">
                <button type="submit" class="btn btn-success">Save</button>
                <a class="btn btn-danger" href="{{app.request.basepath}}/admin/posts">Cancel</a>
            </div>
            
        </form>
        
    </div>
    {% endblock post %}

{% endblock %}