{# 'admin_editpost.twig' ~ Page displaying Post edition forms #}

{% extends "includes/layout.twig" %}

{% block head %}

    {% if post.getTitle() == '' %}
        <title>SilexBlog - New Post</title>
    {% else %}
        <title>SilexBlog - {{ post.getTitle()|capitalize }} [Edit]</title>
    {% endif %}

{% endblock %}

{% block body %}

    {% block post %}
    <div class="post edit">
        
        <form action="{{app.request.basepath}}/admin/newpost" method="POST" enctype="multipart/form-data">

            {# Post ID, null or taken from the Post #}
            {% if post.getID() is defined %}
                <input type="hidden" name="id" value="{{post.getID()}}">
            {% else %}
                <input type="hidden" name="id" value="null">
            {% endif %}
            
            {# Div allowing to edit title of the post #}
            <div class="form-group">
                <label for="inputTitle">Title of the post</label>
                <input name="title" type="text" class="form-control" id="inputTitle" value="{{ post.getTitle()|capitalize }}">
            </div>
            
            {# Div allowing to edit the post's content #}
            <div class="form-group">
                <label for="inputContent">Content of the post</label>
                <textarea name="content" class="form-control" id="inputContent" rows="5">{{ post.getContent() }}</textarea>
                
                <script>
                    // Replaces the <textarea id="inputContent"> with a CKEditor instance.
                    CKEDITOR.replace( 'inputContent' );
                </script>
                
            </div>
            
            {# Div allowing to edit the image of the post #}            
            <div class="form-group">
                <label for="inputImage">Image of the post</label>

                <input type="file" name="image" class="form-control" id="inputImage">
                
                <small id="helpImage" class="form-text text-muted">
                    
                    {% if post.getImage() is null %}
                        <span class="text-danger">
                            <span class="fa fa-warning"></span>
                            No image have been uploaded for this post  
                            <span class="fa fa-warning"></span>
                        </span>
                    {% else %}
                        <span class="text-success">
                            <span class="fa fa-check"></span>
                            Current image : {{ post.getImage() }}  
                            <span class="fa fa-check"></span>
                        </span>
                    {% endif %}
                    
                    <em>(if you don't want to add/change this post's image, simply leave this field empty !)</em>
                </small>
                
            </div>
            
            <br/>
            
            {# Buttons displayed at the bottom of the form #}
            <div class="bottom">
                <button type="submit" class="btn btn-success">Save this post !</button>
                <a class="btn btn-danger" href="{{app.request.basepath}}/admin/posts">Cancel (<em>all unsaved changes will be lost !</em>)</a>
            </div>
            
        </form>
        
    </div>
    {% endblock post %}

{% endblock %}