{# 'comments_display_list.twig' ~ Creates a list with all the comments and the related links #}

{% block comments_list %}
    <div class="comments_list">
        
        <div class="title" id="comments">
            Comments
            
            {% if out_of_post is defined %}
                - On Post <a href="{{app.request.basepath}}/post/{{ post.getID() }}">#{{ post.getID() }}</a>
                : {{ post.getTitle()|capitalize }}
            {% endif %}
            
        </div>
    
        {% for comment in comments %}
            <div class="element">
                
                {# Div containing informations and action buttons #}
                <div class="info">
                    
                    <span class="details">
                        <a href="{{app.request.basepath}}/post/{{ post.getID() }}/comments/{{ comment.getID() }}" class="id">#{{ comment.getID() }}</a> - 
                        <time datetime="{{ comment.getDate(1) }}">{{ comment.getDate(3) }}</time> - 
                        
                        {% if comment.getUser().getUsername() is defined %}
                            by <a href="#NOT_YET_IMPLEMENTED">{{ comment.getUser().getUsername() }}</a>
                        {% else %}
                            by Unknown
                        {% endif %}
                    </span>
                    
                    {% if (user is defined) and (comment.getUser().getUsername() is defined) and (comment.getUser().getID() == user.getID()) %}
                        <span class="menu">
                             - 
                            <a class="btn btn-sm btn-warning" href="{{app.request.basepath}}/post/{{ post.getID() }}/comments/{{ comment.getID() }}/edit">Edit</a>
                            <a class="btn btn-sm btn-danger" href="{{app.request.basepath}}/post/{{ post.getID() }}/comments/{{ comment.getID() }}/delete">Remove</a>
                        </span>                    
                    {% elseif (user is defined) and (user.getAdmin() == '1') %}
                        <span class="menu">
                             - 
                            <a class="btn btn-sm btn-danger" href="{{app.request.basepath}}/post/{{ post.getID() }}/comments/{{ comment.getID() }}/delete">Delete</a>
                        </span>
                    {% endif %}
                    
                </div>
                
                {# Div containing the comment's content #}
                <div class="content">
                    {{ comment.getContent() | raw }}
                </div>
                
            </div>
        {% endfor %}
        
        <a class="btn btn-primary" href="{{app.request.basepath}}/post/{{ post.getID() }}/comments/new/">Add a new comment</a>
        
    </div>
{% endblock comments_list %}