{# 'comments_display_list.twig' ~ Creates a list with all the comments and the related links #}

{% block comments_list %}
    <div class="comments_list">
        
        <div class="title" id="comments">
        Comments
            
            {% if out_of_post is defined %}
            - On Post <a href="{{app.request.basepath}}/post/{{ post.getID() }}">#0{{ post.getID() }}</a>
            : {{ post.getTitle()|capitalize }}
            {% endif %}
            
        </div>
    
        {% for comment in comments %}
            <div class="element">
                
                {# Div containing comment's details #}
                <div class="info">
                    <a href="{{app.request.basepath}}/post/{{ post.getID() }}/comments/{{ comment.getID()}}" class="id">#0{{ comment.getID() }}</a>
                    -
                    <time datetime="{{ comment.getDate(1) }}">{{ comment.getDate(3) }}</time>
                    -
                    by <a href="#NOT_YET_IMPLEMENTED">{{ comment.getUser().getUsername() }}</a>
                </div>
                
                {# Div containing the comment's content #}
                <div class="content">
                    {{ comment.getContent() }}
                </div>
                
                {# Div containing a mini "menu" with some informations #}
                {# Maybe add a "Quote"/"Answer"/etc on comments... /!\ CHANGE POST TO COMMENT /!\
                <div class="menu">
                    <time datetime="{{ post.getDate(1) }}">{{ post.getDate(2) }}</time>
                    <a class="btn btn-primary" href="post/{{ post.getID() }}">Read that post</a>
                    <a href="post/{{ post.getID() }}/comments">Comments ({{ post.getNbComments() }})</a>
                </div>#}
                
            </div>
        {% endfor %}
        
    </div>
{% endblock comments_list %}