{# 'posts_display_single.twig' ~ Displays a single post #}

{% block post %}
    <div class="post">
        
        <div class="element">
                
            {# Div containing the title of the post #}
            <div class="title">
                {{ post.getTitle()|capitalize }}
            </div>
            
            {% if post.getImage() is not empty %}
                {# Image of the post, resized #}
                <div class="image">
                    <img src="__DIR__ . '/../../web/posts_imgs/{{ post.getImage() }}" alt='Image for the post "{{ post.getTitle()|capitalize }}" : "{{ post.getImage() }}"'  class="img-fluid">
                </div>
            {% endif %}
            
            {# Div containing the first elements of the post's content #}
            <div class="content">
                {{ post.getContent() | raw  }}
            </div>
            
            {# Div located at the bottom of the post, with its details #}
            <div class="info">
                
                <span class="details">
                    <time datetime="{{ post.getDate(1) }}">Published {{ post.getDate(2) }}</time>
                    {# Any other details would go here (Author, tags, etc) #}
                </span>
                
                <span class="menu btn-group btn-sm" role="group" aria-label="Actions related to this post">
                        <a class="btn btn-primary" href="{{app.request.basepath}}/post/{{ post.getID() }}">Read that post</a> 
                        <a class="btn btn-secondary" href="{{app.request.basepath}}/post/{{ post.getID() }}/comments">Display only comments ({{ post.getNbComments() }})</a>                
                        {% if (user is defined) and (user.getAdmin() == 1) %}
                            <a class="btn btn-warning" href="{{app.request.basepath}}/post/{{ post.getID() }}/edit">Edit that post</a>
                            <a class="btn btn-danger" href="{{app.request.basepath}}/post/{{ post.getID() }}/delete">Delete that post</a>
                        {% endif %}
                </span>
                
            </div>
                
        </div>
        
    </div>
{% endblock post %}