{# 'posts_display_single.twig' ~ Displays a single post #}

{% block post %}
    <div class="post">
        
        <div class="element">
                
            {# Div containing the title of the post #}
            <div class="title">
                {{ post.getTitle()|capitalize }}
            </div>
            
            {% if post.getImage() is not empty %}
                {# Image of the post, resized #}
                <div class="image">
                    <img src="__DIR__ . '/../../web/posts_imgs/{{ post.getImage() }}" alt='Image for the post "{{ post.getTitle()|capitalize }}" : "{{ post.getImage() }}"' height="650px">
                </div>
            {% endif %}
            
            {# Div containing the first elements of the post's content #}
            <div class="content">
                {{ post.getContent() | raw  }}
            </div>
            
            {# Div located at the bottom of the post, with its details #}
            <div class="info">
                
                <span class="details">
                    <time datetime="{{ post.getDate(1) }}">{{ post.getDate(2) }}</time>
                    <a href="{{app.request.basepath}}/post/{{ post.getID() }}/comments">Display only comments ({{ post.getNbComments() }})</a>
                </span>
                               
                {% if (user is defined) and (user.getAdmin() == 1) %}
                    <span class="menu">
                            <a class="btn btn-warning" href="{{app.request.basepath}}/post/{{ post.getID() }}/edit">Edit that post</a>
                            <a class="btn btn-danger" href="{{app.request.basepath}}/post/{{ post.getID() }}/delete">Delete that post</a>
                    </span>
                {% endif %}
                
            </div>
                
        </div>
        
    </div>
{% endblock post %}