{# 'posts_display_list.twig' ~ Displays a list with all the posts and the related buttons/links #}

{% block posts_list %}
    <div class="posts_list">
    
        {% for post in posts %}
            <div class="element">
                
                {% if short is not defined and post.getImage() is not empty %}  
                    {# Image of the post, resized #}
                    <div class="image">
                        <img src="__DIR__ . '/../../web/posts_imgs/{{ post.getImage() }}" alt='Image for the post "{{ post.getTitle()|capitalize }}" : "{{ post.getImage() }}"' height="300px">
                    </div>        
                {% endif %}
                
                {# Div containing the title of the post #}
                <div class="title">
                    {{ post.getTitle()|capitalize }}
                </div>
                
                {% if short is not defined %}                
                    {# Div containing the first elements of the post's content #}
                    <div class="content">
                        {{ post.getShortContent() | raw }}
                    </div>                
                {% endif %}
                
                {# Div containing informations and action buttons #}
                <div class="info">
                    
                    <span class="details">
                        <time datetime="{{ post.getDate(1) }}">{{ post.getDate(2) }}</time>
                        <a href="post/{{ post.getID() }}#comments">Comments ({{ post.getNbComments() }})</a>
                    </span>
                    
                    <span class="menu">
                        <a class="btn btn-primary" href="{{app.request.basepath}}/post/{{ post.getID() }}">Read that post</a>                
                        {% if (user is defined) and (user.getAdmin() == 1) %}
                            <a class="btn btn-warning" href="{{app.request.basepath}}/post/{{ post.getID() }}/edit">Edit that post</a>
                            <a class="btn btn-danger" href="{{app.request.basepath}}/post/{{ post.getID() }}/delete">Delete that post</a>
                        {% endif %}
                    </span>
                    
                </div>
                
            </div>
        {% endfor %}
        
    </div>
{% endblock posts_list %}