{# 'posts_display_single.twig' ~ Display a single post #}

{% block post %}
    <div class="post">
        
        <div class="element">
                
                {# Div containing the title of the post #}
                <div class="title">
                    {{ post.getTitle()|capitalize }}
                </div>
                
                {# Div containing the first elements of the post's content #}
                <div class="content">
                    {{ post.getContent() }}
                </div>
                
                {# Div located at the bottom of the post, with its details #}
                <div class="bottom">
                    <time datetime="{{ post.getDate(1) }}">{{ post.getDate(2) }}</time>
                    <a href="{{app.request.basepath}}/post/{{ post.getID() }}/comments">Display only comments ({{ post.getNbComments() }})</a>
                </div>
                
            </div>
        
    </div>
{% endblock post %}