{# 'posts_display_list.twig' ~ Creates a list with all the posts and the related buttons/links #}

{% block posts_list %}
    <div class="posts_list">
    
        {% for post in posts %}
            <div class="element">
                
                {# Div containing the title of the post #}
                <div class="title">
                    {{ post.getTitle()|capitalize }}
                </div>
                
                {% if short is not defined %}                
                    {# Div containing the first elements of the post's content #}
                    <div class="content">
                        {{ post.getShortContent() }}
                    </div>                
                {% endif %}
                
                {# Div containing a mini "menu" with some informations #}
                <div class="menu">
                    <time datetime="{{ post.getDate(1) }}">{{ post.getDate(2) }}</time>
                    <a class="btn btn-primary" href="{{app.request.basepath}}/post/{{ post.getID() }}">Read that post</a>
                
                        {% if (user is defined) and (user == "admin") %}
                            <a class="btn btn-warning" href="{{app.request.basepath}}/post/{{ post.getID() }}/edit">Edit that post</a>
                            <a class="btn btn-danger" href="{{app.request.basepath}}/post/{{ post.getID() }}/delete">Delete that post</a>
                        {% endif %}
                    
                    <a href="post/{{ post.getID() }}#comments">Comments ({{ post.getNbComments() }})</a>
                </div>
                
            </div>
        {% endfor %}
        
    </div>
{% endblock posts_list %}